$background1: #FFFFFF;
$background2: #FFFFA5;
$background3: #9ad9ff;

$foreground1: #000000;
$foreground2: #999999;
$foreground3: #CCCCCC;

$fontFamily1: 'Liberation Sans', sans-serif;
$fontFamily2: 'Liberation Mono', monospace;

$gr: 1.61803398875;
$unit: 12px;

$priorities: 5;
